<html>
  <head>
    <title>Retroboard - Create board</title>
    <style>
      .postitSelectorContainer {
        display: flex;
        flex-direction: row;
      }
      .postitSelectorSection {
        margin: 0 5px;
        padding: 10px 5px;
        width: 120px;
      }
      .postitSelectorSection .colorScheme {
        position: relative;
        background-color: grey;
        border-radius: 2px;
        padding: 6px;
        width: 25px;
        cursor: pointer;
        z-index: 2;
      }
      .postitSelectorSection .colorScheme .selectedColor {
        width: 25px;
        height: 17px;
        background-color: lightgrey;
      }
      .postitSelectorSection .colorScheme .colorOptions {
        position: absolute;
        left: 0;
        border-top: 1px dashed black;
        margin-top: 5px;
        padding: 0 5px 10px;
        background-color: grey;
      }
      .postitSelectorSection .colorScheme .colorOptions .option {
        width: 25px;
        height: 17px;
        margin-top: 10px;
      }
      .postitSelectorTitle {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        font-size: 20px;
      }
      .postit {
        height: 160px;
        width: 120px;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 2px 2px 4px #666666;
        position: relative;
      }
    </style>
  </head>
  <body>
    <form id="createBoard" onSubmit="app.createBoard(event, this); return false;">
      <div><label for="boardName">Board name: </label><input name="boardName"/></div>
      <div id="addPostitSection"></div>
      <button type="submit">Create board</button>
    </form>
  </body>
  <script type="text/javascript" src="/utils/ajax.js"></script>
  <script type="text/javascript" src="/createBoard/createBoard.js"></script>
</html>
