<html>
  <head>
    <title>Retroboard - Create board</title>
    <link rel="stylesheet" type="text/css" href="/createBoard/createBoard.css">
    <link rel="stylesheet" type="text/css" href="/utils/button.css">
  </head>
  <body>
    <div class="content">
      <form id="createBoard" onSubmit="app.createBoard(event, this); return false;">
        <input class="boardName" placeholder="Board title" name="boardName"/>

        <div class="postitSelectorSection">
          <input placeholder="Section title" class="postitNameInput postitSelectorInput" id="postitNameInput">
          <input type="color" class="colorScheme postitSelectorInput" id="colorScheme" name="colorScheme" value="#ffff00">
          <button class="addSectionButton" onclick="app.postitForm.createPostitSection(event, this)">Add section</button>

          <div id="addPostitSection" class="addPostitSection"></div>
        </div>
        <button class="submitBoardButton" type="submit">Create board</button>
      </form>
    </div>
  </body>
  <script type="text/javascript" src="/utils/ajax.js"></script>
  <script type="text/javascript" src="/createBoard/createBoard.js"></script>
</html>
