
button {
  border-radius: 4px;
  background: linear-gradient(rgb(68, 199, 103) 5%, rgb(92, 191, 42) 100%) rgb(68, 199, 103);
  border: 1px solid rgb(24, 171, 41);
  display: block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 14px 31px;
  text-decoration: none;
  text-shadow: rgb(47, 102, 39) 0px 1px 0px;
  margin: 0 auto;
}
