body {
  background-color: #E8E8EE;
}
.e {
  font-family: cursive;
  font-size: 30px;
}
.retrospective {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: bold;
}
