<html>
  <head>
    <title>e-retrospective - {{board.title}}</title>
    <link rel="stylesheet" type="text/css" href="/board/board.css">
    <link rel="stylesheet" type="text/css" href="/utils/button.css">
    <link rel="stylesheet" type="text/css" href="/utils/postitStyle.css">
    <link rel="stylesheet" type="text/css" href="/utils/commonStyle.css">
    <script type="text/javascript" src="/utils/tracking.js"></script>
  </head>
  <body class="flexContainer usernameMode">
    <button class="export" onclick="app.export.export()">Export to CSV</button>
    <div id="getUsernameLayer" class="username">
      <div class="usernameLayer">
        <label for="username"> Enter your username</label>
        <input name="username" id="username" placeholder="Username"/>
        <button class="defaultButton" onclick="app.widgets.username.submit()">Submit</button>
      </div>
    </div>
    <div class="flexChild" style="font-size: 32px" id="titleSection"></div>
    <div class="flexChild" id="postitContainer">
    </div>
  </body>
  <script>
    (function() {
      var board = {{{board}}};
      document.title = 'e-retrospective - ' + board.title;
      document.getElementById('titleSection').innerHTML = board.title;
      window.app = {
        widgets: {},
        username: 'testUsername',
        config: {
          title: board.title,
          boardId: board.boardId,
          postits: board.postits,
          postitSections: board.sections,
        },
        globals: {
          postitWidth: 80,
          postitHeight: 100
        }
      };
    })();
  </script>
  <script type="text/javascript" src="/utils/scrolling.js"></script>
  <script type="text/javascript" src="/board/dragAndDrop.js"></script>
  <script type="text/javascript" src="/board/board.js"></script>
</html>
