<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/board/index.css">
  </head>
  <body class="flexContainer usernameMode">
    <div id="getUsernameLayer" class="username">
      <div class="usernameLayer">
        <label for="username"> Enter your username</label>
        <input name="username" id="username" placeholder="Username"/>
        <button onclick="app.widgets.username.submit()">Submit</button>
      </div>
    </div>
    <div class="flexChild" style="font-size: 32px" id="titleSection"></div>
    <div class="flexChild" id="postitContainer">
    </div>
  </body>
  <script>
    (function() {
      var board = {{{board}}};
      console.log(board);
      document.title = 'Retroboard - ' + board.title;
      document.getElementById('titleSection').innerHTML = board.title;
      window.app = {
        widgets: {},
        username: 'testUsername',
        config: {
          title: board.title,
          boardId: board.boardId,
          postits: board.postits,
          postitSections: board.sections,
        },
        globals: {
          postitWidth: 80,
          postitHeight: 100
        }
      };
    })();
  </script>
  <script src="/board/dragAndDrop.js"></script>
  <script src="/board/index.js"></script>
</html>
